body{
    font-family: Arial;
}


td{
    border:1px solid #ccc;
    padding:8px;
}

.delete{
    background:red;
    color:white;
    border:none;
    cursor:pointer;
}
.table-striped{
    width:100%;
    border-collapse: collapse;
    min-height: 50px; /* 👈 IMPORTANT FIX */
    display: block;   /* 👈 makes height apply properly */
}